<main class="container mt-5">
  <a href="/register" class="btn btn-outline-primary">
    <i class="bi bi-arrow-left"></i> Register
  </a>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center mb-4">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email"
            required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password"
            placeholder="Enter your password" required>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</main>


<!-- Modal (let-[something] is to define a local variable)-->
<ng-template #badInputModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-danger">Login Error</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    Bad inputs
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<!-- bad role -->
<ng-template #badRoleModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-danger">Login Error</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    The user does not have enought privileges to see this page.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>